/* *{
  border: 2px solid;
} */

body {
  background-color: #F5F5F5;
  font-family: 'Biryani', sans-serif;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #363636;
}
h1 {
  margin-left: 140px;
  padding-top: 50px;
  margin-top: 0;
}
img {
  width: 40px;
  display: block;
  padding-bottom: 20px;
}
.elephant {
  width: 70px;
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 15px;
}
nav {
  background-color: white;
  display: block;
  height: 1000px;
  width: 90px;
  padding-left: 0;
  position: fixed;
}
.welcome {
  margin-left: 50px;
  padding: 30px;
  width: 500px;
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  display: inline-block;
  margin-left: 140px;
  box-shadow:1px 1px 1px 1px rgba(0,0,0,0.05)
}
.acct {
  display: inline-block;
  padding-bottom: 0;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 60px;
  margin-left: 0;
}
.acctType {
  display:inline-block;
  padding-bottom: 0;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 100px;
  margin-left: 0;
}
img.acct {
  padding-left: 0px;
}
h2.acct {
  padding-left: 4px;
}
.income, .expenses, .credit {
width: 158px;
margin-left: 140px;
padding-left: 10px;
display: inline-block;
height: 90px;
background-color: white;
box-shadow:1px 1px 1px 1px rgba(0,0,0,0.05)
}
.expenses {
  margin-left: 20px;
}
.credit {
  margin-left: 20px;
}
header {
display: inline;
}
.dashboard {
  padding-top: 245px;
  margin-left: 25px;
}
.icons1 {
  width:40px;
  margin-bottom: 20px;
  padding-bottom: 7px;
  padding-left: 3px;
  border-left: solid;
  border-color: #1CA3BA;

}
.icons2 {
  width:40px;
  margin-bottom: 20px;
  padding-bottom: 7px;
  padding-left: 3px;
  /* border-left: solid;
  border-color: #1CA3BA; */

}
.icons3 {
  width:40px;
  margin-bottom: 20px;
  padding-bottom: 7px;
  padding-left: 3px;
  /* border-left: solid;
  border-color: #1CA3BA; */

}
.recent {
  display: inline-block;
  margin-left: 10px;
  padding-right: 86px;
}
aside {
  display: inline-block;
  margin-left: 60px;
  position: relative;
  margin-right: 166px;
  background-color: white;
  top: -606px;
  left: 721px;
  box-shadow:1px 1px 1px 1px rgba(0,0,0,0.05);
  padding: 20px;



}
#x_button {
  width: 10px;
  display: inline-block;
  margin-bottom: 30px;
  z-index: 10;
  position: relative;
  right: 30px;
  top: 12px;
}
.manageAccounts {
  margin-left: 280px;
  background-color: #1CA3BA;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.main {
  width: 600px;
  margin-left: 140px;
}
.checkBook {
  width: 555px;
  padding-left: 10px;
  background-color: white;
  margin-bottom: 10px;
  height: 60px;
  box-shadow:1px 1px 1px 1px rgba(0,0,0,0.05)
}
img, .checkbook {
  width: 30px;
}
#oscarClose {
  width: 720px;
  height: 160px;
}
.fontSize {
  font-size: 11px;
  text-transform: uppercase;
}
.numbers {
  font-weight: 800;
}
table {
  width: 500px;
  background-color: white;
  padding: 5px;
  border-collapse: collapse;

}
th, td {
  font-size: 80%;
  border-bottom: 2px solid #CCCCCC;
  padding: 10px;
}
.newTransactions {
  background-color: #1CA3BA;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.acctType2 {
  display: inline-block;
  padding-bottom: 0;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 78px;
  margin-left: 0;
}
.acctType3 {
  display: inline-block;
  padding-bottom: 0;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 59px;
  margin-left: 0;
}
.summary {
  position:absolute;
}
/* .mainAccts{
  width: 500px
} */
/* .status{
  width:800px;
} */
